@import url(https://fonts.googleapis.com/css2?family=Varela+Round&display=swap);
@import url(https:////fonts.googleapis.com/css?family=Raleway);
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#navbar {
    overflow: hidden;
    background-color: white;
   /* padding: 90px 10px; /* Large padding which will shrink on scroll (using JS) */
    transition: 0.4s; /* Adds a transition effect when the padding is decreased */
    position: fixed; /* Sticky/fixed navbar */
    width: 100%;
    top: 0; /* At the top */
    z-index: 99;
  }
  #navbar #logo {
    width: 50%;
    margin-left: 20%;
    transition: 0.4s;
  }
  #navbar-right {
    float: right;
  }
  .n1{
    font-family: Varela Round, Helvetica, Arial, Lucida, sans-serif;
    font-size: 20px !important;
    line-height: 14px;
    font-weight: 600;
    color: grey!important;
  }
  .active{
    color: rgb(0, 29, 105) !important;
  }

  #d2{
    background: linear-gradient(110deg,  rgb(0,29,105,0.7) 50%, rgb(255, 255, 255,0) 0%),url(about1.jpg) no-repeat center; 
    background-size: 100% 100%;
    height: 100vh;
    width: 100%;
    /* background: linear-gradient(110deg,  rgb(0,29,105,0.7) 50%, rgb(255, 255, 255,0) 0%);  */
  }
  .c1{
      background-color: #F1F1F1 !important;
  }
  .c1:hover{
      background: white !important;
      box-shadow: 0 4px 8px 0 rgb(241, 241, 241), 0 6px 20px 0 rgb(241, 241, 241);
  }
  .h2{
    font-family: Varela Round, Helvetica, Arial, Lucida, sans-serif;
    font-size: 22px !important;
    line-height: 22px;
    font-weight: 500;
    color: #666666!important;  
  }
  .p2{
    font-family: Varela Round, Helvetica, Arial, Lucida, sans-serif;
    font-size: 16px !important;
    line-height: 20px;
    font-weight: 500;
    color: #666666!important;  
    margin-bottom: 30px;
  }
  .h1{
    font-family: Varela Round, Helvetica, Arial, Lucida, sans-serif;
    font-size: 30px !important;
    line-height: 30px;
    font-weight: 500;
    color: #666666!important;  
  }
  .banner{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("about2.jpg");

  /* Set a specific height */
  min-height: 80vh; 
  width: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100% 100%;
  }
  .h3{
    font-family: Varela Round, Helvetica, Arial, Lucida, sans-serif;
    font-size: 40px !important;
    line-height: 40px;
    font-weight: 500;
    color: #ffffff!important;    
  }
  .p3{
    font-family: Varela Round, Helvetica, Arial, Lucida, sans-serif;
    font-size: 26px !important;
    line-height: 26px;
    font-weight: 500;
    color: #ffffff!important;  
  }
  .h4{
    font-family: Varela Round, Helvetica, Arial, Lucida, sans-serif;
    font-size: 30px !important;
    line-height: 30px;
    font-weight: 500;
    color: #ffffff!important;  
  }
  .h5{
    font-family: Varela Round, Helvetica, Arial, Lucida, sans-serif;
    font-size: 26px !important;
    line-height: 26px;
    font-weight: 500;
    color: #ffffff!important;  
  }
  .button {
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
  .h6{
    font-family: Varela Round, Helvetica, Arial, Lucida, sans-serif;
    font-size: 18px !important;
    line-height: 18px;
    font-weight: 500;
    color: #ffffff!important;  
  }
  .h7{
    font-family: Varela Round, Helvetica, Arial, Lucida, sans-serif;
    font-size: 14px !important;
    line-height: 24px;
    font-weight: 500;
    color: #ffffff!important;  
  }
  .h8{
    font-family: Raleway, Helvetica, Arial, Lucida, sans-serif;
    font-size: 14px !important;
    line-height: 24px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.61)!important;  
  }
  @media screen and (max-width: 580px) {
    #navbar {
      padding: 20px 10px !important; /* Use !important to make sure that JavaScript doesn't override the padding on small screens */
    }
    #navbar a {
      float: none;
      display: block;
      text-align: left;
    }
    #navbar-right {
      float: none;
    }
  }